<p>
</p>
<li *ngFor="let book of (books$ | async)">
  {{ book.title }}
</li>

<li *ngFor="let genre of (genres$ | async)">
  {{ genre.name }}
</li>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      Book
    </div>
    <div class="col-md-6">
      Comment
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Bradley</p>

      Dec 03, 2016<br>

      Bradley rated it really liked it<br>
      Shelves: 2017-shelf, sci-fi, worldbuilding-sf<br>
      I put off reading this Stross novel for the weirdest of reasons. I assumed, based on the blurb, (if not the
      series caption,) that it was part of the Merchant Princes books.<br>

      I was right. And I was wrong.<br>

      Much time has passed since the events of those Merchant Princes novels. We get to return to Miriam and her beau
      and her missing child, but best of all, the Merchant Princes are DONE. Revolution and a new government have taken
      over this alternate timeline, but as with all these Princes, there's a bit of traveling still going on. In fact,
      there's a lot.<br>

      Our America is its comfortable near-police state and it has technological means to travel across alternate worlds
      thanks to the necessity of protecting itself after that little bit of the destruction of the White House. The
      other world is trying desperately to learn from the mistakes of all previous revolutions and do it right and
      smart, avoiding all the pitfalls.<br>

    </div>
    <div class="col-md-6">
      Ive never read a Stross novel before but I think it may have helped with this series. The Merchant series
      supposedly links with this within the same world. However I was told this was easily readable by itself. I didnt
      find this thr case. The first 100 pages were personally a chore. I honestly didnt find any characters interesting
      and the political schemes/issues themes just were too complex and not inviting with regards to the plot. Im
      willing to give him another shot but maybe I'll start at
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      Book
    </div>
    <div class="col-md-6">
      Comment
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      Ive never read a Stross novel before but I think it may have helped with this series. The Merchant series
      supposedly links with this within the same world. However I was told this was easily readable by itself. I didnt
      find this thr case. The first 100 pages were personally a chore. I honestly didnt find any characters interesting
      and the political schemes/issues themes just were too complex and not inviting with regards to the plot. Im
      willing to give him another shot but maybe I'll start at
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      Ive never read a Stross novel before but I think it may have helped with this series. The Merchant series
      supposedly links with this within the same world. However I was told this was easily readable by itself. I didnt
      find this thr case. The first 100 pages were personally a chore. I honestly didnt find any characters interesting
      and the political schemes/issues themes just were too complex and not inviting with regards to the plot. Im
      willing to give him another shot but maybe I'll start at
    </div>
  </div>
</div>

<table border="1">
  <tr>
    <th>Book</th>
    <th>Comment</th>
  </tr>
  <tr>
    <td>
      <p>Bradley</p>

      Dec 03, 2016<br>

      Bradley rated it really liked it<br>
      Shelves: 2017-shelf, sci-fi, worldbuilding-sf<br>
      I put off reading this Stross novel for the weirdest of reasons. I assumed, based on the blurb, (if not the
      series caption,) that it was part of the Merchant Princes books.<br>

      I was right. And I was wrong.<br>

      Much time has passed since the events of those Merchant Princes novels. We get to return to Miriam and her beau
      and her missing child, but best of all, the Merchant Princes are DONE. Revolution and a new government have taken
      over this alternate timeline, but as with all these Princes, there's a bit of traveling still going on. In fact,
      there's a lot.<br>

      Our America is its comfortable near-police state and it has technological means to travel across alternate worlds
      thanks to the necessity of protecting itself after that little bit of the destruction of the White House. The
      other world is trying desperately to learn from the mistakes of all previous revolutions and do it right and
      smart, avoiding all the pitfalls.<br>
    </td>
    <td>
      Ive never read a Stross novel before but I think it may have helped with this series. The Merchant series
      supposedly links with this within the same world. However I was told this was easily readable by itself. I didnt
      find this thr case. The first 100 pages were personally a chore. I honestly didnt find any characters interesting
      and the political schemes/issues themes just were too complex and not inviting with regards to the plot. Im
      willing to give him another shot but maybe I'll start at </td>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      Roy
      Feb 10, 2018
      Roy rated it it was ok
      Ive never read a Stross novel before but I think it may have helped with this series. The Merchant series
      supposedly links with this within the same world. However I was told this was easily readable by itself. I didnt
      find this thr case. The first 100 pages were personally a chore. I honestly didnt find any characters interesting
      and the political schemes/issues themes just were too complex and not inviting with regards to the plot. Im
      willing to give him another shot but maybe I'll start at </td>
  </tr>
  <tr>
    <td></td>
    <td>
      Roy
      Feb 10, 2018
      Roy rated it it was ok
      Ive never read a Stross novel before but I think it may have helped with this series. The Merchant series
      supposedly links with this within the same world. However I was told this was easily readable by itself. I didnt
      find this thr case. The first 100 pages were personally a chore. I honestly didnt find any characters interesting
      and the political schemes/issues themes just were too complex and not inviting with regards to the plot. Im
      willing to give him another shot but maybe I'll start at
    </td>
  </tr>
</table>
